@font-face {
  font-family: und;
  src: url("/fons/Undertale-Battle-Font.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000c1f;
  font-family: und;
  font-weight: 0;
  overflow-x: hidden;
}

/* header */
header {
  background: url(../assets/header.png);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  margin-bottom: 10px;
  background-size: cover;
}

header h1 {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 40px;
  border-radius: 30px;
  font-size: 54px;
  font-weight: 700;
}

header div {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
}

header div img {
  width: 350px;
  -webkit-animation: img_header_animate 2s infinite ease-in-out;
          animation: img_header_animate 2s infinite ease-in-out;
}

@-webkit-keyframes img_header_animate {
  0%, 100% {
    -webkit-transform: translate(-2%, 2%);
            transform: translate(-2%, 2%);
  }
  50% {
    -webkit-transform: translate(-2%, -2%);
            transform: translate(-2%, -2%);
  }
}

@keyframes img_header_animate {
  0%, 100% {
    -webkit-transform: translate(-2%, 2%);
            transform: translate(-2%, 2%);
  }
  50% {
    -webkit-transform: translate(-2%, -2%);
            transform: translate(-2%, -2%);
  }
}
header div p {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  font-size: 20px;
  border-radius: 30px 30px 0px 30px;
  width: 500px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 30px;
  white-space: pre-wrap;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 10px #0062ff;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

main .main__img {
  background-image: url("/assets/main.png");
  background-position: center top;
  background-size: 1890px;
  width: 100vw;
  height: 3008px;
}