footer#footer
  section.footer__left
    h1 &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy; 1:
    a(href='https://t.me/PapaProdayTwix')
      img(src='/assets/tg.svg' alt='tg')
      p @PapaProdayTwix
    a(href='https://github.com/Rayten225')
      img(src='/assets/gh.svg' alt='gh')
      p Rayten225
  section.footer__right
    h1 &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy; 2:
    a(href='https://t.me/MamaKupiSnikers')
      img(src='/assets/tg.svg' alt='tg')
      p @MamaKupiSnikers
    a(href='https://github.com/nais2008')
      img(src='/assets/gh.svg' alt='gh')
      p nais2008
