footer
  .footer
    section.footer__left
      section.footer__left-navigation
        nav
          h2 &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy; 0:
          ul
            li
              a(href='https://github.com/Rayten225')
                img(src='/assets/gh.svg' alt='github')
            li
              a(href='https://t.me/PapaProdayTwix')
                img(src='/assets/tg.svg' alt='tg')
        nav
          h2 &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy; 1:
          ul
            li
              a(href='https://github.com/nais2008')
                img(src='/assets/gh.svg' alt='github')
            li
              a(href='https://t.me/MamaKupiSnikers')
                img(src='/assets/tg.svg' alt='tg')
      section.footer__left-text
        h2 &copy; 2024 My Website. All rights reserves.
    section.footer__center
      a(href='https://github.com/Rayten225/hakaton2024')
        img(src='/assets/gh.svg' alt='github')
        h3 &Rcy;&iecy;&pcy;&ocy;&zcy;&icy;&tcy;&ocy;&rcy;&icy;&jcy;
    section.footer__right
      nav.footer__right-navigationIakor
        ul
          li
            a(href='') &Ncy;&acy;&chcy;&acy;&lcy;&ocy;
          li
            a(href='') &Gcy;&ocy;&rcy;&ocy;&dcy;&acy;
          li
            a(href='') &Kcy;&acy;&rcy;&tcy;&acy;
      nav.footer__right-navigationStran
        ul
          li
            a(href='index.html') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
          li
            a(href='shad.html') &SHcy;&acy;&dcy;&rcy;&icy;&ncy;&scy;&kcy;
          li
            a(href='dalm.html') &Dcy;&acy;&lcy;&mcy;&acy;&tcy;&ocy;&vcy;&ocy;
          li
            a(href='kurg.html') &Kcy;&ucy;&rcy;&gcy;&acy;&ncy;
          li
            a(href='kurt.html') &Kcy;&ucy;&rcy;&tcy;&acy;&mcy;&ycy;&shcy;
