header
  .container
    .wraper
      .header__logo
        img(src='/' alt='Влад, сделай нормали дизайн')
      section.header__navigation
        nav
          ul
            li
              a(href='') Города
            li
              a(href='') Карта
            li
              a(href='') Контакты