extends ../layouts/pages_layout

block title 
    - var title ="Далматово"
block css
    link(rel="stylesheet", href="/css/dalm.css")

block contant
    main 
        header.main__header 
            h1 Далматово
        section.main__img
        section.main__dos 
            .dos.dos1 
                img(src="/assets/dalm_muz.svg" alt="")
                div 
                    h2 Далматовский краеведческий музей
                    p
                        |18 мая 1962 года музей был открыт в Доме пионеров, в 1973 году музею было присвоено звание народного. С февраля 2012 года краеведческий музей находится в здании земской начальной школы, расположенной на пересечении улиц Советской и Энгельса. Ежегодно музей посещают более 10 тыс. далматовцев и гостей города.
                        |Своды музея наполнены духом истории и любовью к родному краю, уникальные находки соседствуют с символами прошедших эпох. В фондах музея хранится около 20.000 экспонатов, объединенных по отделам, экспозициям и коллекциям.
            .dos.dos2 
                img(src="/assets/dalm_pam.svg" alt="")
                div 
                    h2 Памятник над захоронением С.П. Рукманиса
                    p
                        |Этот памятник установлен на городской площади в 1920 году. Здесь покоится 18-летний разведчик 267 стрелкового полка, 30 стрелковой дивизии Рукманис Станислав Петрович.
                        |На протяжении длительного времени имя воина было неизвестно, а памятник был безымянным. Только к 50-летию Великой Октябрьской социалистической революции члены Клуба следопытов смогли установить имя разведчика и узнать его историю жизни: семнадцатилетним юношей Станислав добровольцем вступил в ряды Красной Армии, на фронте отметил свое совершеннолетие, и вскоре погиб – на улицах Далматово.
            .dos.dos3
                img(src="/assets/dalm_pam1.svg" alt="")
                div 
                    h2 Памятник А. Н. Зырянову
                    p
                        |Памятник зауральскому просветителю А. Н. Зырянову (1840 - 1884), установлен в 2000 в восточной части территории Далматовского Успенского мужского монастыря. Александр Никифорович Зырянов родился 28 августа 1830 года в селе Верхний Яр Шадринского уезда Пермской губернии. В 1846 году окончил Далматовское духовное училище. В 1846—1861 годах работал волостным писарем, затем — адвокатом по крестьянским делам в Далматово. По его инициативе была открыта первая в уезде бесплатная школа для крестьянских детей в селе Иванищевском и публичная библиотека в Шадринске.
            .dos.dos4
                img(src="/assets/dalm_pam2.svg" alt="")
                div 
                    h2 Братская могила Памятник бойцам 4 Уральского полка павшим в бою во время Гражданской войны
                    p
                        |Бойцы, павшие в Далматовском бою, были похоронены в 2-х братских могилах на городском кладбище. 11 июля 1967 г. останки бойцов 4-го Ур. полка были с воинскими почестями перенесены на Привокзальную площадь, где шел когда-то яростный бой. Эта площадь была обильно полита кровью борцов за власть Советов. 11 июля 1968 г. в день 50-летия Далматовского боя павшим бойцам 4-го Ур. полка был открыт этот скромный памятник.