extends ../layouts/pages_layout

block title 
    - var title ="Курган"
block css
    link(rel="stylesheet", href="/css/kurg.css")

block contant
    main 
        header.main__header 
            h1 Курган
        section.main__img
        section.main__dos 
            .dos.dos1 
                img(src="/assets/kurg_teat.svg" alt="")
                div 
                    h2 Волшебный мир не только для детей: театр кукол «Гулливер»
                    p
                        |С творчеством театра кукол «Гулливер» хорошо знакомы курганцы, а еще он известен в России и далеко за ее пределами. «Гулливер» — один из старейших кукольных театров, первый спектакль состоялся в 1943 году. Сегодня театр славится не только своими оригинальными постановками для детей и для взрослых, но и собственным международным фестивалем «Мечта о полете», вошедшим в пятерку самых крупных фестивалей театров кукол России. На фестивале можно познакомиться с творчеством режиссеров из разных театров, увидеть интересные российские и зарубежные постановки.
            .dos.dos2 
                img(src="/assets/kurg_nab.svg" alt="")
                div 
                    h2 Набережная реки Тобол
                    p
                        |Набережная реки Тобол — одно из красивейших мест в Кургане — превратилась в излюбленное место отдыха для жителей и гостей города. Суровая река до недавнего прошлого испытывала курганцев сильнейшими паводками, поэтому и набережная оставляла желать лучшего. Но за последние несколько лет она стала новой достопримечательностью Кургана – здесь можно насладиться видом на реку, узнать об истории города, вкусно поесть и развлечься.
            .dos.dos3
                img(src="/assets/kurg_zav.svg" alt="")
                div 
                    h2 Курганский пивоваренный завод 
                    p
                        |Курганский пивоваренный завод — одно из старейших предприятий Урала, уникальный объект промышленной архитектуры начала 20 века. Курганское пиво начал выпускать австриец Вячеслав Гампль в 1913 году — к моменту, когда здание завода уже было построено, а образцы вкуснейшего курганского напитка получили Гран-при в Париже, Брюсселе и Лондоне. Предприятие стало производственной базой для Курганского пивоваренного завода.
            .dos.dos4
                img(src="/assets/kurg_zab.svg" alt="")
                div 
                    h2 Поесть вкусно и с колоритом: трактир «Изба»
                    p
                        |В пригороде Кургана находится трактир в этническом стиле «Изба». Если вы хотите прикоснуться к русскому колориту и отведать национальных блюд, вам сюда. Весь интерьер создан из дерева, а сердце «Избы» — настоящая русская печка. Блюда здесь подают в настоящей глиняной посуде, чай — в самоваре на углях или шишках. Повара уверяют, что все меню состоит из проверенных рецептов, которые передавались в семьях сотрудников из поколения в поколение.