extends ../layouts/pages_layout

block title 
    - var title ="Куртамыш"
block css
    link(rel="stylesheet", href="/css/kurt.css")

block contant
    main 
        header.main__header 
            h1 Куртамыш
        section.main__img
        section.main__dos 
            .dos.dos1 
                img(src="/assets/kurt_pam.svg" alt="")
                div 
                    h2 Памятник герою гражданской войны Н. Д. Томину
                    p
                        |Николай Дмитриевич Томин — известный советский военачальник, орденоносец,  участник Гражданской войны, освободивший в августе 1919 года г. Курган  от  белогвардейцев. «Человек изумительной честности, беспредельной храбрости, выдающийся кавалерийский начальник»,— так отзывались о Н. Д. Томине видные советские полководцы В. К. Блюхер и М. Н. Тухачевский.
                        |В городе, где протекали молодые годы Н. Д. Томина, в знак глубокого почитания выдающегося земляка, был открыт памятник, посвященный герою. Автор монумента — ленинградский скульптор П. М. Криворуцкий.
            .dos.dos2
                img(src="/assets/kurt_pam1.svg" alt="")
                div 
                    h2 Памятник основателю Куртамыша Антону Лоскутникову
                    p
                        |Основателями зауральских поселений являлись наиболее энергичные, смелые, предприимчивые люди, получившие особое разрешение на освоение новых земель. Этих людей называли слободчиками. Будучи сами крестьянами, они защищали интересы земледельцев и ремесленников. Таким был и основатель Куртамыша Антон Лоскутников.
                        |Автор памятника, открытого  в   1970  году — курганский скульптор  А .И.Козырев.
            .dos.dos3
                img(src="/assets/kurt_muz.svg" alt="")
                div 
                    h2 Куртамышский краеведческий музей им. Н. Д. Томина
                    p
                        |Созданию музея в Куртамышском районе предшествовала работа местных краеведов, у которых хранилось немало интересных вещей и материалов.
                        |Любитель природы и истории родного края, преподаватель средней школы К.М. Мамаев сначала организовал в 1975 году  небольшой школьный музей, который вызвал интерес горожан.
                        |5 марта 1960 года исполком райсовета вынес решение «Об открытии краеведческого музея», и 22 апреля районный музей был торжественно открыт. С этого времени в районе появился краеведческий центр, где накапливался, обрабатывался и хранился исторический материал.
            .dos.dos4
                img(src="/assets/kurt_cher.svg" alt="")
                div 
                    h2 Церковь Петра и Павла
                    p
                        |В июле 2008 года храму святых апостолов Петра и Павла, в городе Куртамыше исполнилось 200 лет. За свою жизнь онзакрывался только на несколько лет , открыл свои двери вновь во время Великой отечественной войны и исправно врачует души жителям поныне.
                        |Недавно, после службы, разговорилась с незнакомыми мне людьми, бывшими Куртамышанами, сейчас они проживают в Челябинске. А сюда приехали крестить ребёнка. Предворяя мой вопрос, почему не в Челябинске, ответили просто: - «Здесь больше нравится».