extends ../layouts/pages_layout

block title 
    - var title ="Шадринск"
block css
    link(rel="stylesheet", href="/css/shad.css")

block contant
    main 
        section.main__h 
            h1 Шадринск
        section.main__pams 
            .main__pam1 
                .container
                    img(src="/assets/shad.svg", alt="")
                    div 
                        h2 Шадринский гусь
                        p   Необычный памятник, привлекающий внимание прохожих. Он установлен около здания местного краеведческого музея им. В.П. Бирюкова в 2008 году.
                        |   Бронзовая скульптурная группа стала первым в городе произведением искусства малых архитектурных форм, ярко и гармонично вписавшись в архитектурный ансамбль музея.
                        |   Её автор — А. Галяминских, именующий себя свободным художником.
                        |   В скульптурной группе изображена случайная встреча двух знакомых горожан, которым есть что обсудить о деловой и частной жизни. Молодая женщина в скромной одежде моды того времени идёт на рынок с гусем в корзине. 
                        |   Мужчина средних лет, купец или мелкий торговец, одет в сюртук, картуз, кожаные сапоги, в руке держит кошелёк. Они договариваются о купле-продаже гуся.
                        |   Памятник Шадринскому гусю создан по мотивам повести Е. Федорова «Шадринский гусь», вышедшей в 1936 году.