doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            block title 
            |    #{title}
        block css
    body 
        .wraper
            include ../moduls/header

            block contant 

            include ../moduls/footer