@import "../modules/header.scss";
@import "../modules/footer.scss";

main{

    .main__img{
        background-image: url("/assets/main.png");
        background-position: center top;
        background-size: 1890px;
        width: 100vw;
        height: 3008px;
    }
}