@font-face {
    font-family: und;
    src: url("/fons/Undertale-Battle-Font.ttf");
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #000c1f;
    font-family: und;
    font-weight: 400;
    overflow-x: hidden;

    a{
      text-decoration: none;
    }
    li{
      list-style: none;
    }
}
.container{
  width: 1720px;
  display: flex;
  margin: 0 auto;
}
/* header */
header{
  background-color: #000;
  color:#fff;
  height: 80px;
}